.modal-overlay {
  position: fixed;
  /* Positioning relative to the viewport */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white; /* Background color */
  /* Add other styling as needed */
}


.modal-side-image {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  
  /* Add more styling as needed */
}