.make-plan {
  text-align: left;
  padding-left: 20%;
}

.myPlan {
  text-align: left;
  padding-left: 30%;
}

.term {
  padding: 1%;
  margin-bottom: 2%;
  min-height: 10%;
  gap: 10%;
}

.term ul {
  padding: 0%;
  margin: 0;
  list-style-type: none;
}


.terms-container {
  display: grid;
  flex-wrap: wrap;
  gap: 5%;
}

.ViewPlan-Buttons{
  display: flex;        /* Aligns children (buttons) in a row */
  justify-content: start; /* Aligns children to the start of the container */
  gap: 10px;            /* Adds some space between the buttons */
}

.button-container-makePlan {
  margin-top: 20%;
  display: flex;
  justify-content: center;
  gap: 15%;
  margin-right: auto;
}

.button-container-myPlan {
  margin-top: 20%;
  display: flex;
  justify-content: left;
  align-items: left;
  gap: 20%;
  padding-left: 4%;
}

.Empty-Plan {
  justify-content: left;
  padding-right: 0%;
}

.Empty-Picture {
  justify-content: left;
  padding-right: 0%;
}

.no-scroll {
  overflow: hidden;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  background-color: white;
  border-radius: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Two columns of equal width */
  gap: 1%; /* Space between columns */
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr; /* Stack columns on top of each other on small screens */
  }
}

.course-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /* Adjust the number of fr's based on how many columns you want */
  gap: 10px; /* Space between rows and columns */
  align-items: start;
}
