.make-plan {
  text-align: left;
  padding-left: 175px;
}

.myPlan {
  text-align: left;
  padding-left: 175px;
}

.term ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}


.terms-container {
  display: flex;
  flex-wrap: wrap;
  gap: 250px;
  /* Adjust this for spacing between terms */
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 50px;
  margin-top: 20px;
}